* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(0, 0%, 95%);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.sedans {
    padding: 37px;
    background: hsl(31, 77%, 52%);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.suvs {
    padding: 37px;
    background: hsl(184, 100%, 22%);
}

.luxury {
    padding: 37px;
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.title {
    margin-top: 25px;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
.description {
    margin-top: 25px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 25px;
}
button {
    margin-top: 60px;
    padding: 8px 15px;
    border-radius: 20px;
    background: white;
    border: 0;
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
}
#b1 {
    color: rgb(213, 140, 4);
}
#b2 {
    color: rgb(34, 98, 106);
}
#b3 {
    color: rgb(6, 64, 44);
}